{% extends 'layout.html' %}

{% block body %}
    {% set languages = ["HTML", "CSS", "Javascript", "Python", "Ruby", "PHP", "Java"] %}

    <form action="/codigo" enctype="multipart/form-data">

        <div class="columnas">
            {% if fng!="" %}
                <div class="columna" style="width: 60%;">
            {% else %}
                <div class="columna" style="width: 100%;">
            {% endif %}

        <h1>RESULTADOS DE PRUEBA: {{pr}} </h1>

        <div class="container-fluid row">
            <div id="detalleseleccion" name="detalleseleccion" class="este">

        <ul>
            {% for n in nu %}
            <hr />
            <p>{{ ti[n] }}</p>
        <div class="container">
        <figure>
            <figcaption style="text-align: center;"><code>Imagen</code></figcaption>
            <img src="{{ fn1[nu[n]] }}" alt="Imagen" class="image" alt="IMAGEN 1">
        </figure>
        {% if "3" in su2 %}
        <figure>
            <figcaption style="text-align: center;"><code>Texto de OCR</code></figcaption>
            <div class="text" >{{ txt[nu[n]] }}</div>
        </figure>
        {% endif %}
        {% if "4" in su2 %}
        <figure>
            <figcaption style="text-align: center;"><code>Texto Corregido</code></figcaption>
            <div class="text"> {{ tcorr[n] }}</div>
        </figure>
        {% endif %}
        {% if "5" in su2 %}
        <figure>
            <figcaption style="text-align: center;"><code>Palabras Clave</code></figcaption>
            <div class="text"> {{ plbc[n] }}</div>
        </figure>
        {% endif %}
        </div>

            {%  endfor %}
        <hr />
        </ul>
    
        </div>
    </div>
    <p><input type="submit" value="Otra prueba"></p>
    </div>

    <div class="columna" style="width: 40%;">
        <!--a href="templates/codigo1.html">Regresar</a-->
        {% if fng1!="" %}
        <figure>
            <figcaption style="text-align: left;"><code>        Estadística</code></figcaption>
            <img src="{{ fng1 }}" alt="Imagen" class="image2" alt="IMAGEN 1" width="400" 
            height="500">
        </figure>
        {% endif %}
        {% if fng2!="" %}
        <figure>
            <figcaption style="text-align: left;"><code>        Estadística</code></figcaption>
            <img src="{{ fng2 }}" alt="Imagen" class="image2" alt="IMAGEN 1" width="400" 
            height="500">
        </figure>
        {% endif %}
    </div>
    </div>
    </form>
{% endblock %}