{% extends 'layout.html' %}

{% block body %}
    <h1>Prueba de Código</h1><hr>
 
    <form action="/uploader" method="POST" enctype="multipart/form-data">
    {% if fn=="" %}
        <h2>Seleccionar imagen de texto: </h2>
        <input type="file" name="archivo" />
    {% else %}
        <h2>Imagen de texto seleccionada: </h2>
        <div> {{ fn }} </div>
    {% endif %}
     
    <!--/form>

    <form-->
        <h2>Seleccionar procesos a ejecutar:</h2>
        <div class="columnas">
            <div class="columna">

                <label>
                    <input type="checkbox" name="act" id="chbx_0" value="0">Original
                </label>
                <br>
                <label>
                    <input type="checkbox" name="act" id="chbx_1" value="1">Pre-proceso: Algoritmo 1
                </label>
                <br>        
                <label>
                    <input type="checkbox" name="act" id="chbx_2" value="2">Pre-proceso: Algoritmo 2
                </label>
                <br>
                <label>
                    <input type="checkbox" name="act" id="chbx_3" value="3">Pre-proceso: Algoritmo 3
                </label>
                <br>
                <label>
                    <input type="checkbox" name="act" id="chbx_4" value="4">Pre-proceso: Algoritmo 4
                </label>
                <br>
            </div>
            <div class="columna">
                <label>
                    <input type="checkbox" name="act2" id="chbx_3" value="3">Texto OCR
                </label>
                <br>
                <label>
                    <input type="checkbox" name="act2" id="chbx_4" value="4">Post-Proceso
                </label>
                <br>
                <label>
                    <input type="checkbox" name="act2" id="chbx_5" value="5">Clave-Busqueda
                </label>
                <br>
            </div>
        </div>
        <p><input type="submit" value="Procesa">
           {% if fn!="" %}
           <input type="submit" value="Otra Imagen" name="otra">
           {% endif %}
        </p>
        <p></p>
    </form>

    <hr>
   
{% endblock %}
