
{% extends 'layout.html' %}


{% block body %}
<div class="jumbotron">
    <h2 class="display-6">Tesis: </h2>
    <h1 class="display-5">{{ app_data['titulo'] }} </h1>
    <p class="lead">Para optar el titulo de Doctor de {{ app_data['autor'] }}</p>
    <p>En: {{ app_data['especial'] }}</p>

    <hr class="my-4">
    <p>Investigación de algoritmos aplicados a recuperación textual de documentación histórica</p>
    <a class="btn btn-primary btn-lg" href="/contacto" role="button">Contacto</a>
  </div>
  <div id="micontenido">
</div>

{% endblock %}
