{% extends 'layout.html' %}

{% block body %}
    <h1>{{ app_data['referencia'] }}</h1>
    <h2>Gestionada en Mendeley</h2>

    <div class="container-fluid row">
      <div id="detalleseleccion" name="detalleseleccion" class="este">

    <TABLE border="1" cellpadding="5" cellspacing="2"
    summary="Cursos de historia ofrecidos en la comunidad de Bath
             ordenados por nombre del curso, tutor, resumen,
             código y tasas">
    <TR>
      <TH scope="col" abbr="Num">Num</TH>
      <TH scope="col" abbr="Autor">Autor</TH>
      <TH scope="col">Título</TH>
      <TH scope="col">Institución</TH>
      <TH scope="col">Año</TH>
    </TR>
    <TR>
        <TH colspan="3" scope="colgroup">
           Bibliografía Texto deteriorado - Preproceso
        </TH>
    </TR>
    <TR>
        <TD scope="row">01</TD>
        <TD>MOSA, Qusay O, ALFOUDI, Ali Saeed, BRISAM, Ahmed A, OTEBOLAKU, Abayomi
            and LEE, Gyu Myoung</TD>
        <TD>
          <a href="https://shura.shu.ac.uk/29709/1/20220123025111pmWEB19345.pdf">
            Driving Active Contours to Concave Regions <EM></EM>
          </a>
        </TD>
        <TD>Sheffield Hallam University, England</TD>
        <TD>2022</TD>
    </TR>

    <TR>
        <TD scope="row">02</TD>
        <TD>Michael Roberts, Jack Spencer</TD>
        <TD>
          <a href="https://link.springer.com/content/pdf/10.1007/s10851-019-00893-0.pdf">
            Chan–VeseReformulation for Selective Image Segmentation <EM></EM>
          </a>
        </TD>
        <TD>Journal of Mathematical Imaging and Vision</TD>
        <TD>2019</TD>
    </TR>

    <TR>
        <TD scope="row">03</TD>
        <TD>Qusay O. Mosa, Mohammad F. Nasrudin</TD>
        <TD>
          <a href="https://www.jatit.org/volumes/Vol73No3/13Vol73No3.pdf">
              Broken Character Restoration Using Gradient Vector Flow And Balloon Force Algorithm <EM></EM>
          </a>
        </TD>
        <TD>Universiti Kebangsaan Malaysia</TD>
        <TD>2015</TD>
    </TR>

    <TR>
        <TD scope="row">04</TD>
        <TD>Nathiya R., Priyavadani S. and Sivaradje G.</TD>
        <TD>
          <a href="https://www.scholarscentral.com/pdfs/52253/an-integrated-technique-based-on-level-set-balloon-force-and-laplacianalgorithm-for-proficient-analysis-of-stem-cell-segmentation-2155-9929-S8-012.pdf">
            An Integrated Technique Based on Level Set Balloon Force and Laplacian Algorithm for Proficient Analysis of Stem Cell Segmentation <EM></EM>
          </a>
        </TD>
        <TD>Pondicherry Engineering College, Kalapet, India</TD>
        <TD>2016</TD>
    </TR>

    <TR>
        <TD scope="row">05</TD>
        <TD>Mengmeng Zhang, Qianqian Li, Lei Li, Peirui Bai</TD>
        <TD>
          <a href="https://www.scirp.org/pdf/JSEA_2013042513261057.pdf">
            An Improved Algorithm Based on the GVF-Snake for Effective Concavity Edge Detection <EM></EM>
          </a>
        </TD>
        <TD>Shandong University of Science and Technology, Qingdao, China</TD>
        <TD>2013</TD>
      </TR>

      <TR>
        <TD scope="row">06</TD>
        <TD>Qusay Omran Mosa and Mohammad Faidzul Nasrudin</TD>
        <TD>
          <a href="https://www.researchgate.net/profile/Qusay-Mosa/publication/299578695_Broken_Character_Image_Restoration_Using_Genetic_Snake_Algorithm_Deep_Concavity_Problem/links/5700093908aea6b77469b4e4/Broken-Character-Image-Restoration-Using-Genetic-Snake-Algorithm-Deep-Concavity-Problem.pdf">
            Broken Character Image Restoration Using Genetic Snake Algorithm: Deep Concavity Problem <EM></EM>
          </a>
        </TD>
        <TD>University Kebangsaan Malaysia, Malaysia</TD>
        <TD>2016</TD>
      </TR>

      <TR>
        <TD scope="row">07</TD>
        <TD>Abhinav Chopra, Seema Rawat, Praveen Kumar</TD>
        <TD>
          <a href="https://citeseerx.ist.psu.edu/document?repid=rep1&type=pdf&doi=8fb0b5e381d4b136aa1999e8f66a6956b12273ea">
            Active Contours, Gvf and Balloon Model <EM></EM>
          </a>
        </TD>
        <TD>Amity University Noida</TD>
        <TD>2012</TD>
      </TR>
    
      <TR>
        <TD scope="row">08</TD>
        <TD>Chenyang Xu and Jerry L. Prince</TD>
        <TD>
          <a href="https://iacl.ece.jhu.edu/pubs/p087c.pdf">
          Gradient Vector Flow: A New External Force for Snakes <EM></EM>
          </a>
        </TD>
        <TD>Johns Hopkins University</TD>
        <TD>1997</TD>
    </TR>    

    <TR>
      <TD scope="row">09</TD>
      <TD>Djamal Boukerroui</TD>
      <TD>
        <a href="https://www.researchgate.net/publication/225082778_Efficient_numerical_schemes_for_gradient_vector_flow">
            Efficient numerical schemes for gradient vector flow <EM></EM>
        </a>
      </TD>
      <TD>Universite de Technologie de Compiegne, France</TD>
      <TD>2012</TD>
    </TR>

    <TR>
        <TD scope="row">10</TD>
        <TD>Nora La Serna Palomino,  Ulises Román Concha</TD>
        <TD>
          <a href="https://sisbib.unmsm.edu.pe/bibvirtual/publicaciones/risi/2009_n2/v6n2/a02v6n2.pdf">
            Técnicas de Segmentación en Procesamiento Digital de
            Imágenes <EM></EM>
          </a>
        </TD>
        <TD>Universidad Nacional Mayor de San Marcos, Perú</TD>
        <TD>2009</TD>
    </TR>

    <TR>
        <TD scope="row">11</TD>
        <TD>Rami Cohen</TD>
        <TD>
          <a href="https://arxiv.org/pdf/1107.2782">
            The Chan-Vese Algorithm<EM></EM>
          </a>
        </TD>
        <TD>Technion, Israel Institute of Technology</TD>
        <TD>2010</TD>
    </TR>

    <TR>
        <TD scope="row">12</TD>
        <TD>Haiping Xu, Zhenmei Lin, Yanqing Guoand Meiqing Wang</TD>
        <TD>
          <a href="https://journals.sagepub.com/doi/epdf/10.1260/1748-3018.9.2.177?src=getftr&utm_source=mendeley&getft_integrator=mendeley">
            Image Segmentation using GAC ModelCombining with GVF andBalloon Force<EM></EM>
          </a>
        </TD>
        <TD>Fuzhou University,Fujian, China</TD>
        <TD>2014</TD>
    </TR>

    <TR>
        <TD scope="row">13</TD>
        <TD>Pascal Getreuer</TD>
        <TD>
          <a href="https://helios2.mi.parisdescartes.fr/~lomn/Cours/CV/SeqVideo/Articles/ipolDec2012_5.pdf">
            Chan–Vese Segmentation<EM></EM>
          </a>
        </TD>
        <TD>Yale University</TD>
        <TD>2012</TD>
    </TR>

    <TR>
        <TD scope="row">14</TD>
        <TD>Chenyang Xu and Jerry L. Prince</TD>
        <TD>
          <a href="https://iacl.ece.jhu.edu/pubs/p087c.pdf">
            Gradient Vector Flow: A New External Force for Snakes<EM></EM>
          </a>
        </TD>
        <TD>Johns Hopkins University, Baltimore, USA</TD>
        <TD>1997</TD>
    </TR>

    <TR>
        <TD scope="row">15</TD>
        <TD></TD>
        <TD>
          <a href="https://biblus.us.es/bibing/proyectos/use/abreproy/11755/fichero/volumen1%252FCap%C3%ADtulo+III_Snake+y+GVF.pdf+">
            Snake y GVF<EM></EM>
          </a>
        </TD>
        <TD></TD>
        <TD></TD>
    </TR>

    <TR>
        <TH colspan="3" scope="colgroup">
           Bibliografía Corrección de Palabras - Postproceso
        </TH>
    </TR>
      <TR>
      <TD scope="row">16</TD>
      <TD>Anggasta TA Kusuma, Chanifah I Ratnasar</TD>
      <TD>
        <a href="https://www.researchgate.net/publication/376712654_COMPARISON_OF_SPELL_CORRECTION_IN_BAHASA_INDONESIA_PETER_NORVIG_LSTM_AND_N-GRAM">
            Comparison Of Spell Correction In Bahasa Indonesia: Peter Norvig, Lstm, And N-Gram <EM></EM>
        </a>
      </TD>
      <TD>Universitas Islam Indonesia, Indonesia</TD>
      <TD>2023</TD>
    </TR>

    <TR>
        <TD scope="row">17</TD>
        <TD>Casey Whitelaw and Ben Hutchinson and Grace Y Chung and Gerard Ellis</TD>
        <TD>
          <a href="https://aclanthology.org/D09-1093.pdf">
            Using the Web for Language Independent Spellchecking and
            Autocorrection <EM></EM>
          </a>
        </TD>
        <TD>Pyrmont NSW, Australia</TD>
        <TD>2009</TD>
    </TR>

    <TR>
        <TD scope="row">18</TD>
        <TD>Edgar Moyotl-Hernández</TD>
        <TD>
          <a href="https://www.rcs.cic.ipn.mx/2016_124/Metodo%20de%20correccion%20ortografica%20basado%20en%20la%20frecuencia%20de%20las%20letras.pdf">
            Método de corrección ortográfica basado en la frecuencia de las letras <EM></EM>
          </a>
        </TD>
        <TD>Benemérita Universidad Autónoma de Puebla, México</TD>
        <TD>2016</TD>
    </TR>

      <TR>
        <TH colspan="3" scope="colgroup">
           Bibliografía de Busqueda de Palabras Clave
        </TH>
    </TR>
      <TR>
      <TD scope="row">19</TD>
      <TD>Puneet Goswami, Vidya Kamath</TD>
      <TD>
        <a href="https://citeseerx.ist.psu.edu/document?repid=rep1&type=pdf&doi=22e9d67d232a78071091839fe6114ffe1727fa79">
            The DF-ICF Algorithm- Modified TF-IDF <EM></EM>
        </a>
      </TD>
      <TD>UGalaxy Global Group of Institutions Dinarpur, India</TD>
      <TD>2014</TD>
    </TR>

    <TR>
        <TD scope="row">20</TD>
        <TD>Slobodan Beliga</TD>
        <TD>
          <a href="https://langnet.uniri.hr/papers/beliga/Beliga_KeywordExtraction_a_review_of_methods_and_approaches.pdf">
            Keyword extraction:  
            a review of methods and approaches <EM></EM>
          </a>
        </TD>
        <TD>University of Rijeka, Department of Informatics, Croacia</TD>
        <TD>2015 </TD>
      </TR>
      <TR>
        <TD scope="row">21</TD>
        <TD>A Manikanta Lakshmi Narayana, Mrs K Santoshi </TD>
        <TD>
          <a href="https://ijcrt.org/papers/IJCRT2211028.pdf">
            Keyword Extraction using Natural Language Processing <EM></EM>
          </a>
        </TD>
        <TD>GMR Institute of Technology, Rajam, India</TD>
        <TD>2022 </TD>
      </TR>
  </TABLE>
</div>
<div class="col-12 align-self-start">
  <p>Por: JMSF</p>
</div>
</div>

{% endblock %}
